.advantage-list {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 4;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  color: white;
}

.advantage-list__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  margin-top: 58px;
  margin-bottom: 0;
}

.advantage-list__heading--num-two {
  margin-top: 40px;
}

.advantage-list__heading--num-next {
  margin-top: 26px;
}

.advantage-list__number {
  margin-top: 9px;
}

.advantage-list__description {
  min-width: 265px;
  font-size: 14px;
  padding-left: 28px;
  padding-right: 27px;
  margin: 0;
  margin-bottom: 20px;
}

.advantage-list__description--num-next {
  margin-bottom: 34px;
}

.advantage-list__advantage-icon {
  width: 37px;
  height: 36px;
  fill: @blue;
}

.advantage-list__image {
  width: 100%;
  height: auto;
  min-height: 260px;
  margin-top: 27px;
  background-color: white;
}

.advantage-list__sublist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  background-color: white;
  padding-left: 22px;
  padding-right: 51px;
  padding-top: 29px;
  margin-top: 0;
  min-height: 386px;
}

.advantage-list__advantage {
  display: flex;
  flex-wrap: wrap;
  color: black;

  &:nth-child(2) {
    margin-top: 7px;
  }

  &:last-child {
    margin-bottom: 21px;
  }
}

.advantage-list__advantage-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
  padding-top: 5px;
}

.advantage-list__list {
  display: flex;
  flex-direction: column;
  background-color: @blue;
  width: 100%;
}

.advantage-list__list--decor {
  background-color: rgb(238, 238, 238);
  color: black;
  position: relative;
}


.advantage-list__list--decor::after {
  content: "";
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: rgba(214, 214, 214, 1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  z-index: 3;
}

.advantage-list__advantage-description {
  display: flex;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  padding-left: 48px;
}

@media (min-width: 768px) {
  .advantage-list__list {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    margin-top: 40px;
  }

  .advantage-list__heading-block {
    display: flex;
    flex-direction: column;
    width: 256px;
    background-color: @blue;
    color: white;
  }

  .advantage-list__image {
    width: 65.7%;
    height: auto;
    flex-grow: 1;
    margin: 0;
    background-color: white;
  }

  .advantage-list {
    margin-top: -8px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantage-list__heading {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 46px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .advantage-list__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    min-width: 162px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .advantage-list__advantage {
    flex-direction: column;
    align-items: center;

    &:nth-child(2) {
      order: 3;
      margin-top: 24px;
      padding-top: 32px;
      padding-left: 45px;
    }

    &:nth-child(3) {
      padding-top: 27px;
      padding-left: 32px;
    }

    padding-top: 30px;
    margin-top: 30px;
  }


  .advantage-list__sublist {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  .advantage-list__advantage-icon {
    width: 72px;
    height: 75px;
    fill: @blue;
  }

  .advantage-list__advantage-heading {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-top: 20px;
    margin-left: -10px;
  }

  .advantage-list__advantage-description {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantage-list__list--decor {
    display: flex;
    width: 256px;
    min-height: 256px;
    flex-direction: column;
    background-color: #eeeeee;

    &::after {
      display: none;
    }

    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
  }

  .advantage-list__heading-block--position {
    order: 2;
  }

  .advantage-list__list--position {
    margin-top: -60px;
  }
}

@media (min-width: 1200px) {
  .advantage-list__heading-block {
    width: 399px;
  }

  .advantage-list__image {
    height: 255px;
  }

  .advantage-list__heading {
    margin-top: 53px;
    padding-left: 95px;
    padding-right: 95px;
  }

  .advantage-list__description {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 6px;
  }

  .advantage-list__number {
    margin-top: 5px;
  }

  .advantage-list__advantage-description {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 21px;
  }

  .advantage-list__advantage {
    width: 389px;
  }

  .advantage-list__advantage-heading {
    margin-left: 8px;
  }

  .advantage-list__list--decor h3 {
    margin-top: 46px;
  }
}
