.main-promo-photo {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 157px;
  z-index: -1;
  justify-content: center;
  align-items: center;
  background-image: url("/img/back-mobile-jpg.jpg");
  margin-top: -33px;
  background-position: 20% 50%;
}

.main-promo-photo__image {
  width: 229px;
  height: auto;
}

.block-photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #d6d6d6;
}

@media (min-width: 768px) {
  .main-promo-photo {
    margin-top: -25px;
    min-height: 317px;
  }

  .main-promo__image-decor {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    overflow: hidden;
  }

  .main-promo-photo__image {
    width: 460px;
    height: 80px;
  }

  .block-photo {
    border: none;
  }
}
