.main-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-heading__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  width: auto;
  font-weight: bold;
  line-height: 1.44;
  padding-left: 19px;
  padding-right: 19px;
  max-width: 500px;
  margin-top: 18px;
}

.feedback-heading__advantage {
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
  line-height: 1.71;
  font-size: 14px;
  text-align: center;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.main-feedback__form {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
}

.main-feedback__form-write {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.main-feedback__form-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.main-feedback__form-name-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.main-feedback__form-name-input-input {
  flex-shrink: 1;

  border: none;
  background-color: #f2f2f2;
  height: 58px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.44;
  padding-left: 20px;
}

.main-feedback__form-name-input-input--name {
  width: 209px;
}

.main-feedback__form-name-input-input--secondName {
  width: 171px;
}

.main-feedback__form-name-input-input--patronymic {
  width: 175px;
}

.main-feedback__form-name-input-text {
  font-size: 14px;
  text-transform: uppercase;
  flex-shrink: 0;
}

.main-feedback__form-name-input-input::-moz-placeholder {
  color: #000000;
  font-size: 18px;
  margin-right: 22px;
}

.main-feedback__form-contact-heading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;
}

.main-feedback__form-contact-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-feedback__form-contact-input-text {
  font-size: 14px;
  line-height: 1.86;
  margin: 0;
  margin-top: 7px;
}

.main-feedback__form-contact-input-input {
  width: 100%;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.main-feedback__form-name-input-input::placeholder {
  color: black;
}

.main-feedback__form-contact-input-image {
  display: flex;
  position: absolute;
  width: 58px;
  height: 60px;
  background-color: #e6e6e6;
  right: 3px;
  top: 42px;
  justify-content: center;
  align-items: center;
}

.main-feedback__form-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-feedback__form-impression {
  border: none;
}

.main-feedback__form-impression-input-input ~ .main-feedback__form-impression-input-image--off {
  display: flex;
}

.main-feedback__form-impression-input-input ~ .main-feedback__form-impression-input-image--on {
  display: none;
}

.main-feedback__form-impression-input-input:checked ~ .main-feedback__form-impression-input-image--on {
  display: flex;
}

.main-feedback__form-impression-input-input:checked ~ .main-feedback__form-impression-input-image--off {
  display: none;
}

.main-feedback__form-impression-input {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.main-feedback__form-impression-input-image {
  margin-right: 10px;
}

.main-feedback__form-impression-heading {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 26px;
}

.main-feedback__form-impression-input-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}

.main-feedback__form-sight {
  display: flex;
  flex-direction: column;
  border: none;
}

.main-feedback__form-sight-checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main-feedback__form-sight-chekbox-input ~ .main-feedback__form-sight-chekbox-input--off {
  display: flex;
}

.main-feedback__form-sight-chekbox-input ~ .main-feedback__form-sight-chekbox-input--on {
  display: none;
}

.main-feedback__form-sight-chekbox-input:checked ~ .main-feedback__form-sight-chekbox-input--on {
  display: flex;
}

.main-feedback__form-sight-chekbox-input:checked ~ .main-feedback__form-sight-chekbox-input--off {
  display: none;
}

.main-feedback__form-sight-chekbox-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 26px;
}

.main-feedback__form-sight-heding {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 0;
}

.main-feedback__form-emotions {
  display: flex;
  flex-direction: column;
  border: none;
}

.main-feedback__form-emotions-heading {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.main-feedback__form-emotions-textarea {
  border: none;
  background-color: #f2f2f2;
  width: 279px;
  height: 160px;
  padding-left: 21px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: bold;
}

.main-feedback__form-submit {
  border: none;
  background-color: @blue;
  font-size: 21px;
  font-weight: bold;
  color: white;
  min-width: 280px;
  min-height: 58px;
  margin-top: 51px;
}

.main-feedback__required-input {
  display: none;
}

@media (min-width: 768px) {
  .feedback-heading__heading {
    font-size: 30px;
    font-weight: bold;
    margin-top: 65px;
  }

  .feedback-heading__advantage {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    padding-left: 18%;
    padding-right: 18%;
    margin-top: -2px;
  }

  .main-feedback__form {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    margin-bottom: 66px;
  }

  .main-feedback__form-name {
    order: 2;
    width: 50%;
    min-height: 365px;
  }

  .main-feedback__form-impression {
    position: relative;
    order: 1;
    width: 45%;
    padding: 0;
    min-height: 365px;

    &::after {
      content: "";
      width: 2px;
      height: 295px;
      background-color: grey;
      position: absolute;
      right: -11%;
      top: 14%;
    }
  }

  .main-feedback__form-contact {
    order: 3;
    margin-top: 23px;
    margin-bottom: 3px;
  }

  .main-feedback__form-sight {
    order: 4;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 46px;
  }

  .main-feedback__form-emotions {
    order: 5;
    width: 100%;
    margin-top: 18px;
  }

  .main-feedback__form-submit {
    order: 6;
    margin-top: 56px;
    min-width: 324px;
  }

  .main-feedback__form-impression-heading {
    font-size: 21px;
    font-weight: bold;
    margin-top: 46px;
    margin-bottom: 48px;
    margin-left: -4;
  }

  .main-feedback__form-impression-input {
    margin-bottom: 13px;
  }

  .main-feedback__form-name-heading {
    margin-top: 45px;
    margin-bottom: 36px;
    margin-right: 18px;
  }

  .main-feedback__form-name-input--name {
    margin-right: -100px;
  }

  .main-feedback__form-name-input--second-name {
    margin-right: -97px;
  }

  .main-feedback__form-name-input--patronymic {
    margin-right: -104px;
  }

  .main-feedback__form-contact-heading {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 3px;

    &::after {
      content: "";
      width: 20%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: -2%;
    }

    &::before {
      content: "";
      width: 20%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      right: -3%;
    }
  }

  .main-feedback__form-contact-input-text {
    margin-top: 22px;
    margin-bottom: -4px;
  }

  .main-feedback__form-contact-input-input {
    margin-left: -15px;
    width: 105%;
    padding-left: 21px;

    &::placeholder {
      color: black;
    }
  }

  .main-feedback__form-contact-input-image {
    right: -15px;
    top: 54px;
  }

  .main-feedback__form-sight-checkbox {
    width: 227px;
    margin-left: 28px;
    margin-top: 0;
    margin-bottom: 28px;
  }

  .main-feedback__form-sight-heding {
    position: relative;
    padding-left: 22%;
    padding-right: 22%;
    font-size: 21px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 42px;

    &::after {
      content: "";
      width: 20%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      content: "";
      width: 20%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      right: -1%;
    }
  }

  .main-feedback__form-emotions-textarea {
    width: 97.5%;
    height: 118px;

    &::placeholder {
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  }

  .main-feedback__form-emotions-heading {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 55px;

    &::after {
      content: "";
      width: 20%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      content: "";
      width: 20%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      right: -1%;
    }
  }

  .main-feedback__required-input {
    display: flex;
    position: absolute;
    bottom: 1.3%;
    right: 8%;
    order: 7;
    text-transform: uppercase;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .feedback-heading {
    margin-top: 37px;
  }

  .feedback-heading__advantage {
    padding-left: 22%;
    padding-right: 22%;
  }

  .main-feedback__form-impression-heading {
    margin-top: 30px;
    margin-left: 136px;
  }

  .main-feedback__form-impression-input {
    margin-left: 64px;
  }

  .main-feedback__form-impression-input-text {
    margin-left: 6px;
  }

  .main-feedback__form-name-heading {
    margin-top: 31px;
    margin-right: 153px;
  }

  .main-feedback__form-name-input-input--name {
    width: 329px;
  }

  .main-feedback__form-name-input--name {
    margin-left: -9px;
  }

  .main-feedback__form-name-input--second-name {
    margin-left: -9px;
  }

  .main-feedback__form-name-input-input--second-name {
    width: 290px;
  }

  .main-feedback__form-name-input--patronymic {
    margin-left: -9px;
  }

  .main-feedback__form-name-input-input--patronymic {
    margin-top: -4px;
    width: 295px;
  }

  .main-feedback__form-contact-heading {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 63px;

    &::after {
      content: "";
      width: 27%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 4%;
    }

    &::before {
      content: "";
      width: 27%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      right: 4%;
    }
  }

  .main-feedback__form-contact-input-text--off {
    display: none;
  }

  .main-feedback__form-contact {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main-feedback__form-contact-input {
    flex-direction: row;
    width: 40%;
    margin-left: 44px;
  }

  .main-feedback__form-contact-input-text {
    margin-top: 27px;
    margin-right: 32px;
  }

  .main-feedback__form-contact-input-input {
    width: 293px;
    height: 56px;
  }

  .main-feedback__form-contact-input--email {
    width: 46%;
    margin-left: 64px;
  }

  .main-feedback__form-contact-input-image {
    right: 18px;
    top: 11px;
  }

  .main-feedback__form-contact-input-image--email {
    right: 1%;
    top: 15%;
  }

  .main-feedback__form-sight-heding {
    padding-left: 40%;
    padding-right: 40%;
    margin-top: 3px;

    &::after {
      content: "";
      width: 25%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 94px;
    }

    &::before {
      content: "";
      width: 25%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      right: 94px;
    }
  }

  .main-feedback__form-sight-checkbox {
    margin-top: 1px;
    margin-right: -3px;
  }

  .main-feedback__form-sight-chekbox-text {
    margin-left: 19px;
    margin-top: -5px;
  }

  .main-feedback__form-emotions-heading {
    margin-top: 16px;

    &::after {
      content: "";
      width: 26%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 5%;
    }

    &::before {
      content: "";
      width: 26%;
      height: 1px;
      background-color: grey;
      position: absolute;
      top: 50%;
      right: 6%;
    }
  }

  .main-feedback__form-emotions-textarea {
    margin-left: auto;
    margin-right: auto;
    width: 86.5%;
  }

  .main-feedback__form-submit {
    min-width: 480px;
    margin-left: 60px;
  }
  .main-feedback__form-name-input{
    width: 100%;
  }
  .main-feedback__form{
    width: 100%;
    box-sizing: border-box;
  }
}
