@media (min-width:@mobileMin) {
  .page-footer{
    font-family: @PTnormal;
  display: flex;
  flex-direction: column;
}

.page-footer__tag{
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top:41px ;
  }
.page-footer__socal{
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
  }
  .page-footer__socal-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: @blue;
    margin-right: 6px;
  }
  .page-footer__socal-item-images{
    fill: white;
  }
  .page-footer__developed{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-footer__developed-heading{
    margin: 0px;
    font-weight: normal;
  }
  .page-footer__developed-images{
    margin-top: 5px;
    margin-left: 11px;
  }
}

