.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__tag {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}

.page-footer__socal {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 4px;
  margin-top: 36px;
}

.page-footer__socal-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: @blue;
  margin-right: 6px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.page-footer__socal-item:active .page-footer__socal-item-images {
  opacity: 0.3;
}

.page-footer__socal-item-images {
  fill: white;
}

.page-footer__developed {
  display: flex;
  align-items: center;
  margin-top: 17px;

  &:hover {
    color: white;
  }

  &:active {
    color: white;
  }
}

.page-footer__developed:hover .page-footer__developed-images {
  fill: #81b3d2;
}

.page-footer__developed:active .page-footer__developed-images {
  opacity: 0.3;
}


.page-footer__developed-heading {
  margin-left: 30%;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
}

.page-footer__developed-images {
  margin-top: 8px;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .page-footer__tag {
    margin-top: 39px;
  }

  .page-footer__developed {
    margin-top: 6px;
  }

  .page-footer__developed-heading {
    margin-left: 0;
  }

  .page-footer__socal {
    margin-top: 33px;
  }
}

@media (min-width: 1200px) {
  .page-footer__tag {
    margin-top: 43px;
    margin-left: -10px;
  }

  .page-footer__developed {
    margin-top: 14px;
    margin-right: -10px;
  }
}
